body {
	background-color: teal;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
}
#bigContainer {
	width: 100%;
	height: 100%;
	margin:0px;
	padding:0px;
}

#container {
	width: 950px;
	background-color: white;
}

#layoutTable {
	width: 100%;
	border: solid 1px #000000;
}

#headerdiv {
	height: 65px;
	border-bottom-color: gray;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#menudiv {
	height: 40px;
}

#bodydiv {
	height: 300px;
	font-size: 8px;
}

#footerdiv {
	height: 20px;
	text-align: right;
	padding: 2px;
}

#tableHeader{
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	
}